In [1]:
import requests
import pandas as pd
import json

In [2]:
# CityBikes api prep function
def get_bike_stations(networkid):

    url = "http://api.citybik.es/v2//networks/"+networkid
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)
    return response

# CityBikes

Send a request to CityBikes for the city of your choice.

In [3]:
# # Getting and saving response data as a local json file
# bikes_json = get_bike_stations('nextbike-glasgow').json()
# with open('data/bike_data.json','w') as f:
#     json.dump(bikes_json,f)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [4]:
# pulling data from json into dataframe
# lists for temp busckets
id = []
name = []
lat = []
long = []
timestamp = []
free_bikes = []
empty_slots = []
uid = []
station_number = []
slots = []
bike_ids = []

#loading json file
with open(r"B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\bike_data.json",'r') as f:
    data= json.load(f)
    
# run through all networks for each station info
for station in range(len(data['network']['stations'])):
    id.append(data['network']['stations'][station]['id'])
    name.append(data['network']['stations'][station]['name'])
    lat.append(data['network']['stations'][station]['latitude'])
    long.append(data['network']['stations'][station]['longitude'])
    free_bikes.append(data['network']['stations'][station]['free_bikes'])
    empty_slots.append(data['network']['stations'][station]['empty_slots'])
    uid.append(data['network']['stations'][station]['extra']['uid'])
    station_number.append(data['network']['stations'][station]['extra']['number'])
    bike_ids.append(data['network']['stations'][station]['extra']['bike_uids'])

Put your parsed results into a DataFrame.

In [5]:
# dataframe creation
bikes_df = pd.DataFrame({'id':id, 'name':name,"latitude":lat,'longitude':long,'free_bikes':free_bikes,'empty_slots':empty_slots,'uid':uid,'station_number':station_number,'bike_ids':bike_ids})
bikes_df

,id,name,latitude,longitude,free_bikes,empty_slots,uid,station_number,bike_ids
0,066c99293af108ece27d9b0436c30cc4,Riverside Museum,55.865683,-4.305367,3,3,19738176,8416,"[81103, 46888, 46519]"
1,0a106cbc148d5a0c2535b51c1dbe3b4d,Parkhead,55.846524,-4.197475,4,4,150125231,8470,"[46871, 828262, 46720, 46493]"
2,0cc8c09950e1435ee7782478ed292fef,Tollcross International Swimming Centre,55.844250,-4.176167,5,1,55599921,8200,"[840033, 46734, 46515, 46425, 828134]"
3,0e94d2ad012bff0cf23497963ff5fd77,Shields Road,55.845807,-4.275232,0,8,7145152,8403,[]
4,101c6cd7749f373507e9444f5222b7f2,Shawlands Shopping Centre (Kilmarnock Road),55.829057,-4.282675,2,5,3812605,8453,"[47518, 46643]"
...,...,...,...,...,...,...,...,...,...
108,f6b64fd82fe6e607f1fc788ace31c3a1,Fullarton,55.837175,-4.170209,5,7,114446999,8234,"[47873, 46754, 46724, 47964, 829960]"
109,f806566ccd2263bd5dbb624cdd0fb7f3,Bridgeton,55.848939,-4.226823,1,6,349452,8441,[47237]
110,f93ab2c803d81c14f7e2f1765911de04,Charing Cross Railway Station,55.864563,-4.270055,0,8,3456076,8421,[]
111,fa6bc682e8627d66891c2b6250c81b1e,Mitchell Library,55.864788,-4.271852,0,6,264308,8425,[]
112,faf9e8803c8d80741d74f98cb9ba8337,Cambridge Street - ELECTRIC,55.865063,-4.260291,0,6,19548484,8434,[]

In [6]:
# save dataframe as CSV to access in other notebooks
bikes_df.to_csv(r'B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\bikes_df.csv',sep =',',index=False)