In [2]:
import requests
import pandas as pd
import json

In [3]:
# CityBikes api prep function
def get_bike_stations(networkid):

    url = "http://api.citybik.es/v2//networks/"+networkid
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)
    return response

# CityBikes

Send a request to CityBikes for the city of your choice.

In [4]:
# Getting and saving response data as a local json file
bikes_json = get_bike_stations('nextbike-glasgow').json()
with open('data/bike_data.json','w') as f:
    json.dump(bikes_json,f)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [5]:
# pulling data from json into dataframe
# lists for temp busckets
id = []
name = []
lat = []
long = []
timestamp = []
free_bikes = []
empty_slots = []
station_number = []
slots = []


#loading json file
with open(r"B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\bike_data.json",'r') as f:
    data= json.load(f)
    
# run through all networks for each station info
for station in range(len(data['network']['stations'])):
    id.append(data['network']['stations'][station]['id'])
    name.append(data['network']['stations'][station]['name'])
    lat.append(data['network']['stations'][station]['latitude'])
    long.append(data['network']['stations'][station]['longitude'])
    free_bikes.append(data['network']['stations'][station]['free_bikes'])
    empty_slots.append(data['network']['stations'][station]['empty_slots'])
    station_number.append(data['network']['stations'][station]['extra']['number'])
    slots.append(data['network']['stations'][station]['extra']['slots'])

Put your parsed results into a DataFrame.

In [6]:
# dataframe creation
bikes_df = pd.DataFrame({'id':id, 'name':name,"latitude":lat,'longitude':long,'free_bikes':free_bikes,'empty_slots':empty_slots,'station_number':station_number, 'slots':slots})
bikes_df

,id,name,latitude,longitude,free_bikes,empty_slots,station_number,slots
0,066c99293af108ece27d9b0436c30cc4,Riverside Museum,55.865683,-4.305367,6,0,8416,6
1,0a106cbc148d5a0c2535b51c1dbe3b4d,Parkhead,55.846524,-4.197475,4,4,8470,8
2,0cc8c09950e1435ee7782478ed292fef,Tollcross International Swimming Centre,55.844250,-4.176167,5,1,8200,6
3,0e94d2ad012bff0cf23497963ff5fd77,Shields Road,55.845807,-4.275232,5,3,8403,8
4,101c6cd7749f373507e9444f5222b7f2,Shawlands Shopping Centre (Kilmarnock Road),55.829057,-4.282675,4,3,8453,8
...,...,...,...,...,...,...,...,...
108,f6b64fd82fe6e607f1fc788ace31c3a1,Fullarton,55.837175,-4.170209,6,6,8234,12
109,f806566ccd2263bd5dbb624cdd0fb7f3,Bridgeton,55.848939,-4.226823,7,0,8441,8
110,f93ab2c803d81c14f7e2f1765911de04,Charing Cross Railway Station,55.864563,-4.270055,1,7,8421,8
111,fa6bc682e8627d66891c2b6250c81b1e,Mitchell Library,55.864788,-4.271852,0,6,8425,6
112,faf9e8803c8d80741d74f98cb9ba8337,Cambridge Street - ELECTRIC,55.865063,-4.260291,0,6,8434,7

In [7]:
# save dataframe as CSV to access in other notebooks
bikes_df.to_csv(r'B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\bikes_df.csv',sep =',',index=False)