In [163]:
import requests
import pandas as pd
import json
import os
from dotenv import load_dotenv

load_dotenv()

api_key_4square = os.getenv('FOURSQUARE_KEY')
api_key_yelp = os.getenv('YELP_KEY')

In [177]:
# import bikes_df
bikes_df =pd.read_csv(r"B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\bikes_df.csv",sep=',')

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [165]:
# 4square api prep function
def places_4square(latitude, longitude, radius, categories,limit, api_key):
    params = {}
    ll = str(latitude)+","+str(longitude)
    params["ll"] = ll
    params['radius'] = radius
    categories = ','.join(str(x)for x in categories)
    params["categories"] = categories
    params["limit"] = limit

    url = "https://api.foursquare.com/v3/places/search"
    headers = {"accept": "application/json","Authorization": api_key}
    response = requests.get(url, params=params, headers=headers)
    return response

In [166]:
# # Getting and saving response data as a local json file
# category_list=[16033,13003,13029]
# foursquare_places_json = places_4square(bikes_df['latitude'][0],bikes_df['longitude'][0],1000,category_list,50,api_key_4square).json()
# with open('data/foursquare_places_data.json','w') as f:
#     json.dump(foursquare_places_json,f)
# foursquare_places_json

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [167]:
# pulling data from json into dataframe
# lists for temp busckets
id = []
categories = []
distance = []
name = []
bar = []
dog_park = []
# lists to normalize category list
bar_lookup = ['bar', 'pub', 'speakeasy', 'beer', 'Brewery']
dog_park_lookup = ['dog park']


#loading json file
with open(r"B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\foursquare_places_data.json",'r') as f:
    data= json.load(f)
    
# run through all results for each place info
for result in range(len(data['results'])):
    id.append(data['results'][result]['fsq_id'])
    # run thorugh all categories for each place
    for i in range(len(data['results'][result]['categories'])):
        if any(map(data['results'][result]['categories'][i]['short_name'].lower().__contains__, bar_lookup)):
            bar.append(1)
            dog_park.append(0)
            break

        elif any(map(data['results'][result]['categories'][i]['short_name'].lower().__contains__, dog_park_lookup)):
            bar.append(0)
            dog_park.append(1)
            break
        else:
            bar.append(9)
            dog_park.append(9)
            break
        
    distance.append(data['results'][result]['distance'])
    name.append(data['results'][result]['name'])

Put your parsed results into a DataFrame

In [168]:
# dataframe creation
foursquare_places_df = pd.DataFrame({'id':id, 'name':name,"bar":bar,'dog_park': dog_park,'distance':distance})
foursquare_places_df

,id,name,bar,dog_park,distance
0,4e1c4c481fc714dc5c3143ed,BrewDog Glasgow,1,0,884
1,4b76fff5f964a52018732ee3,The Lismore,1,0,636
2,50d20bc9e4b029fc6804c7a9,The Sparkle Horse,1,0,705
3,4d0263ce3fd4224b72abb677,Three Judges,1,0,632
4,57cf101c498e00f91f9e64cc,Bag O Nails,1,0,636
5,56db6679498e2749a7e2fffe,Six Degrees North,1,0,839
6,4ee28df99a521fcbefc9cf9a,Dukes Bar,1,0,831
7,51699468e4b02c13d46e0511,The Record Factory,9,9,692
8,5132030ae4b038fff6d6dda1,Bar Gumbo,1,0,833
9,89a280b505ec43694e54bea7,Obsession Club Glasgow,1,0,371
10,4d94c74fb550a0939f928e87,Smiddy Bar,1,0,571
11,4d135e2f37f1236a1cc2801b,The Quarter Gill,1,0,598
12,5145ca10e4b075ebd189b396,The Old Govan Arms,1,0,428
13,58e68152084be577f8af69d0,The Poetry Club,9,9,458
14,529f473d11d244431bf81587,Deoch an Dorus,1,0,629
15,4e21af0be4cdf685918790c8,Hayburn Vaults,9,9,532
16,4be1b9e787e42d7f97ad870b,The Brechin,1,0,552
17,c9ebc58cf03248fcce053173,Ettrick Bar,1,0,559
18,55574196498e2f2bc1d9fa39,The Tenement,1,0,566
19,52ef8b7611d2024d11bef5ec,"Heisenberg's, Live Music Bar",1,0,579
20,518503aa498e995ad7e0f562,Lios Mor,1,0,584
21,51e1a2e4498e1df3911a3e1c,Victoria Bar,1,0,584
22,57372a84498eae70bfad6ddb,The Grain Hopper,1,0,587
23,869ea635540d4b1fee716775,Suburban Taverns,9,9,597
24,4be1afa3edbb0f47e852a615,Stumps Bar,1,0,607
25,4eef4a1b6d862537202e2b24,Bruadar,1,0,609
26,02c3b61bbae447320546f048,Bells Bar,1,0,613
27,51dc22d9498e8f7d30953a89,Meadowside Blending Co,9,9,618
28,4c7cd03b398176b053221ea8,The Millhouse,1,0,620
29,4bc09ac8f8219c74cbc9b110,Hayburn,1,0,623
30,0f8bda6b6c6448584631c039,Partick Tavern,1,0,626
31,535339a2498ea554d0d1f468,Hyde Bar & Dining,1,0,630
32,518d1b18498e526a4a8e5cbf,Inn,1,0,640
33,5f5cdf5f49517e23553d5966,Bauhaus,1,0,644
34,63f108c7cb7dc20c9d08b85f,West Side Tavern,1,0,645
35,4c1d09b0fcf8c9b6a30bab0b,Dolphin Bar,1,0,646
36,52504c67498e9e2eb8cbf9f3,Brechin Bar,9,9,701
37,4dc6f85b52b1e8f9f7fa4354,The Rosevale Tavern,1,0,704
38,4d0d5bd0257d6dcbb8d69b67,Windsor Tavern,1,0,706
39,4c3a2d4f2c8020a120f58d00,Gallus,1,0,706
40,505ca3a2e4b0ad0a3de9bbb7,Porgan Mhils,9,9,725
41,5172a437498e2885deb4c843,Smoak at Sanctuary,1,0,739
42,5b8002af234724002c324dec,The Brunch Club,1,0,786
43,57f9410c498ed1577f3c855c,The Drugstore Social,9,9,798
44,4b858e11f964a520306531e3,Common Rooms,1,0,831
45,5c67462eda2e00002bbd0b93,Embargo,1,0,836
46,4e3d9b31fa76455375ba90eb,Richard's Bar,1,0,838
47,60de067516c30b5af78d0fc3,Fl첫r,1,0,840
48,61ca1bfa080fc2113fb98fba,Ga Ga Kitchen & Bar,1,0,851
49,4b770a93f964a52047772ee3,Aragon Bar,1,0,993

In [169]:
# filter data to just bars/pubs and dog parks
foursquare_places_df = foursquare_places_df.query('bar <= 1 & dog_park <=1')
foursquare_places_df

,id,name,bar,dog_park,distance
0,4e1c4c481fc714dc5c3143ed,BrewDog Glasgow,1,0,884
1,4b76fff5f964a52018732ee3,The Lismore,1,0,636
2,50d20bc9e4b029fc6804c7a9,The Sparkle Horse,1,0,705
3,4d0263ce3fd4224b72abb677,Three Judges,1,0,632
4,57cf101c498e00f91f9e64cc,Bag O Nails,1,0,636
5,56db6679498e2749a7e2fffe,Six Degrees North,1,0,839
6,4ee28df99a521fcbefc9cf9a,Dukes Bar,1,0,831
8,5132030ae4b038fff6d6dda1,Bar Gumbo,1,0,833
9,89a280b505ec43694e54bea7,Obsession Club Glasgow,1,0,371
10,4d94c74fb550a0939f928e87,Smiddy Bar,1,0,571
11,4d135e2f37f1236a1cc2801b,The Quarter Gill,1,0,598
12,5145ca10e4b075ebd189b396,The Old Govan Arms,1,0,428
14,529f473d11d244431bf81587,Deoch an Dorus,1,0,629
16,4be1b9e787e42d7f97ad870b,The Brechin,1,0,552
17,c9ebc58cf03248fcce053173,Ettrick Bar,1,0,559
18,55574196498e2f2bc1d9fa39,The Tenement,1,0,566
19,52ef8b7611d2024d11bef5ec,"Heisenberg's, Live Music Bar",1,0,579
20,518503aa498e995ad7e0f562,Lios Mor,1,0,584
21,51e1a2e4498e1df3911a3e1c,Victoria Bar,1,0,584
22,57372a84498eae70bfad6ddb,The Grain Hopper,1,0,587
24,4be1afa3edbb0f47e852a615,Stumps Bar,1,0,607
25,4eef4a1b6d862537202e2b24,Bruadar,1,0,609
26,02c3b61bbae447320546f048,Bells Bar,1,0,613
28,4c7cd03b398176b053221ea8,The Millhouse,1,0,620
29,4bc09ac8f8219c74cbc9b110,Hayburn,1,0,623
30,0f8bda6b6c6448584631c039,Partick Tavern,1,0,626
31,535339a2498ea554d0d1f468,Hyde Bar & Dining,1,0,630
32,518d1b18498e526a4a8e5cbf,Inn,1,0,640
33,5f5cdf5f49517e23553d5966,Bauhaus,1,0,644
34,63f108c7cb7dc20c9d08b85f,West Side Tavern,1,0,645
35,4c1d09b0fcf8c9b6a30bab0b,Dolphin Bar,1,0,646
37,4dc6f85b52b1e8f9f7fa4354,The Rosevale Tavern,1,0,704
38,4d0d5bd0257d6dcbb8d69b67,Windsor Tavern,1,0,706
39,4c3a2d4f2c8020a120f58d00,Gallus,1,0,706
41,5172a437498e2885deb4c843,Smoak at Sanctuary,1,0,739
42,5b8002af234724002c324dec,The Brunch Club,1,0,786
44,4b858e11f964a520306531e3,Common Rooms,1,0,831
45,5c67462eda2e00002bbd0b93,Embargo,1,0,836
46,4e3d9b31fa76455375ba90eb,Richard's Bar,1,0,838
47,60de067516c30b5af78d0fc3,Fl첫r,1,0,840
48,61ca1bfa080fc2113fb98fba,Ga Ga Kitchen & Bar,1,0,851
49,4b770a93f964a52047772ee3,Aragon Bar,1,0,993

In [170]:
# save dataframe as CSV to access in other notebooks
foursquare_places_df.to_csv(r'B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\foursquare_places_df.csv',sep =',',index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [171]:
# yelp api prep function
def places_yelp(latitude, longitude, radius, categories,limit, api_key):
    params = {}
    params["longitude"] = longitude
    params["latitude"] = latitude
    params['radius'] = radius
    params["categories"] = categories
    params["limit"] = limit

    url = f"https://api.yelp.com/v3/businesses/search?"
    headers = {"accept": "application/json","Authorization": f'bearer {api_key}'}
    response = requests.get(url, params=params, headers=headers)
    return response

In [172]:
# # Getting and saving response data as a local json file
# category_list=['bars', 'dog_parks']
# yelp_places_json = places_yelp(bikes_df['latitude'][0],bikes_df['longitude'][0],1000,category_list,10,api_key_yelp).json()
# with open('data/yelp_places_data.json','w') as f:
#     json.dump(yelp_places_json,f)
# yelp_places_json

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [173]:
# pulling data from json into dataframe
# lists for temp busckets
id = []
categories = []
distance = []
name = []


#loading json file
with open(r"B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\yelp_places_data.json",'r') as f:
    data= json.load(f)
    
# run through all results for each place info
for result in range(len(data['businesses'])):
    id.append(data['businesses'][result]['id'])
    categories.append(data['businesses'][result]['categories'][0]['alias'])
    distance.append(data['businesses'][result]['distance'])
    name.append(data['businesses'][result]['name'])

Put your parsed results into a DataFrame

In [174]:
# dataframe creation
yelp_places_df = pd.DataFrame({'id':id, 'name':name,"categories":categories,'distance':distance})
yelp_places_df

                       id                       name categories     distance
0  qjjmYSR3CVsJlr75vyIEBg            BrewDog Glasgow       bars   871.079804
1  PkLiavkwqsGzE5D2tqfsyg          The Sparkle Horse       pubs   689.080576
2  58dUYvYmmE2h19Q3qITHaA                       Brel    belgian  1237.724147
3  _S0eZCB0-qNCAMTrlAIqCw            6 Degrees North       pubs   854.560573
4  Gi2Fs1Ve7lyJAXWKeQkthg               Three Judges       pubs   637.835306
5  c2fwMshDF0wtCKGLe3IGtw                      Dukes       pubs   838.518390
6  NTklMMCjRBKMklSwl4YvXg               Tennents Bar       pubs  1141.982966
7  V3ma6UVAs0FWx9eHHSnnMQ  Innis & Gunn Beer Kitchen    beerbar  1240.339614
8  dMdrLM-SMYuiGzzo6Si2Cw                   Firebird    italian   937.443536
9  Se9BxMKBLsjTweiYc8-xJg                Vodka Wodka       pubs  1264.736501

In [175]:
# filter data to justt bars/pubs and dog parks

In [176]:
# save dataframe as CSV to access in other notebooks
yelp_places_df.to_csv(r'B:\LHL\StatsModeling_Project\LHL-statsModeling-priject\data\yelp_places_df.csv',sep =',',index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating